#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.result-container{
  background-color:  #242424;
  border-radius: 5px 5px 0px 0px;
  width: 320px;
  padding: 10px;
  margin-right: 0px;

  display: flex;
  justify-content: end;
  color: #ffffff;
}

.result-container > p {
  margin-right: 30px;
  font-size: 1.3em;
}